# Learn more https://docs.github.com/en/get-started/getting-started-with-git/ignoring-files

# dependencies
node_modules/

# Expo
.expo/
dist/
web-build/

# Native
*.orig.*
*.jks
*.p8
*.p12
*.key
*.mobileprovision

# Metro
.metro-health-check*

# debug
npm-debug.*
yarn-debug.*
yarn-error.*

# macOS
.DS_Store
*.pem

# local env files
.env*.local
.env

# typescript
*.tsbuildinfo

# Ignore all .json files
*.json
eas.json

# Ignore babel.config.js
babel.config.js
eas.config.js


# extras
profile.jpg

# Ingnore assets folder and its content
assets/
tools/
android/

## Ignore case sensitive components
EnergyTokenSystem.js
GameContext.js