# Project root files to ignore
EnergyTokenSystem.js
.easignore
eas.config.js
babel.config.js
checkfonts.js
metro.config.js
# Editor settings
.vscode/

# Firebase config
google-services.json
firebase-empty.js

# Logs & patches
*.log
*.patch

# Sertifikaatit ja avaimet
*.keystore
*.jks
*.pem
*.p12
*.key
*.p8

# Ympäristömuuttujat
*.env
*.env.*

# Macin piilotiedostot
.DS_Store
# Hide assets folder from public repository
assets/
paches/
# Learn more https://docs.github.com/en/get-started/getting-started-with-git/ignoring-files

# dependencies
node_modules/

# Expo
.expo/
dist/
web-build/

# Native
*.orig.*
*.jks
*.p8
*.p12
*.key
*.mobileprovision
android/
tools/

# Metro
.metro-health-check*

# debug
npm-debug.*
yarn-debug.*
yarn-error.*

# macOS
.DS_Store
*.pem

# local env files
.env*.local
.env

# typescript
*.tsbuildinfo

# Ignore config files that are sensitive or local-only
eas.json
*.secret.json

# eas ignore
eas.json
.easignore

# Energy Token System file
EnergyTokenSystem.js".github/" 
